/* normalization */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*omar navbar*/

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}


/*omar navbar*/

#navbar .logo {
    display: flex;
    flex-direction: row;
}

#navbar .logo h1 {
    font-weight: 600;
    font-size: 20px;
}

#navbar .logo h2 {
    font-size: 20px;
    font-weight: 200;
}

#navbar {
    color: black;
    overflow: auto;
    padding: 10px;
}

#navbar .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar a {
    color: black;
    text-decoration: none;
}

#navbar h1 {
    float: left;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    padding: 20px;
    text-align: center;
}


/* toni  sec*/

header h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.big-hero-img {
  position: relative;
  left: 450px;
  z-index: 1;
}

.elipsa {
  position: relative;
  right: 23rem;
  bottom: 24rem;
}

.rectangle {
  position: relative;
  top: 7rem;
}

.text-hero-section {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  color: rgb(78, 74, 74);
}

.main-heo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-side {
  padding: 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section-2 {
  display: flex;
  /* border: 2px solid blue; */
  justify-content: center;
}

.btn-hero {
  border: 1px solid blue;
  color: white;
  background-color: blue;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
}

.our-client-text {
  display: flex;
  flex-direction: column;
  padding-right: 30rem;
}

.urban-logo {
  width: 170px;
}

.our-clients-logos {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.amazon-logo {
  width: 150px;
}

.airbnb-logo {
  width: 150px;
}

.title-clitent {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.title-clitent-text {
  line-height: 2rem;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(78, 74, 74);
}
/* noa sec */
#section-1{
    background-image: url(/images/Rectangle\ 24.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
#section-1 .cards-container{
    display: grid;
    grid-template-rows: [row1] 10fr [row1] 10fr [row1] 10fr;
	grid-template-columns: [col1] 10fr [col1] 10fr [col1] 10fr [col1] 10fr;
	text-align: center;
	color: #FFF;
    grid-gap: 10px;
    margin-top: 2rem;
    margin-left: 82rem;
}
#section-1 .cards-item{
    display: flex;
	padding: 25px;
	border-radius: 6px;
}
#section-1 .card-item1{
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: pink;
    height: 30rem;
}
#section-1 .card-item1 img{
    margin-left: 9rem;
    margin-top: 2rem;
    width: 20%;
}
#section-1 .card-item1 h2{
    margin-top: 2rem;
    color: black;
}
#section-1 .card-item1 p{
    margin-top: 3rem;
    color: black;
}
 #section-1 .card-item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #658db5;
} 


/* #section-1 .cards-container .card-item3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #658db5;
    height: 10rem;
    width: 10rem;
} 
#section-1 .cards-container .card-item4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #1b2938;
}  */


/* omar sec */

/* dania footer */
.great {
    display: flex;
    flex-direction: row;
}

#great .bigPic {
    padding-left: 100px;
}

#great .playButton {
    position: absolute;
    left: 350px;
    top: 200px;
    width: 80px;
}

#great .content p {
    font-weight: 400;
    color: #565656;
    font-style: normal;
    font-size: 10px;
    line-height: 160%;
    padding-right: 150px;
}

#great .content h1 {
    margin-top: 100px;
    padding: 30px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4em;
    display: inline-flex;
}

.bigger {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}


/* dania footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top:5vh;
 
}
footer .col1 h1{
font-size: 24px;

}
footer .col1 p{
    color: #565656;
    margin-top:2vh;
}
footer .col1 p a:hover{
  text-decoration:  underline;

}
footer .col1 .icon{
    margin-top: 20px;
}

footer .col{
    display: flex;
    flex-direction: column;
   
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;

}
footer h4:hover{
    text-decoration: underline black 2px;
}
footer a{
    font-size: 15px;
  margin-bottom: 10px;
   color: #222;
   text-decoration: none;

}
footer a:hover{
 text-decoration: underline red 2px;

}
.hr{
    background-color: green;
    height: 2px;
 
}
.copyright{
    margin-top:2vh;
    margin-left: 40%;
    font-size: 12px;

}
