/* normalization */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*omar navbar*/


/* toni  sec*/


/* noa sec */
#section-1{
    background-image: url(/images/Rectangle\ 24.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
#section-1 .cards-container{
    display: grid;
    grid-template-rows: [row1] 10fr [row1] 10fr [row1] 10fr;
	grid-template-columns: [col1] 10fr [col1] 10fr [col1] 10fr [col1] 10fr;
	text-align: center;
	color: #FFF;
    grid-gap: 10px;
    margin-top: 2rem;
    margin-left: 82rem;
}
#section-1 .cards-item{
    display: flex;
	padding: 25px;
	border-radius: 6px;
}
#section-1 .card-item1{
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: pink;
    height: 30rem;
}
#section-1 .card-item1 img{
    margin-left: 9rem;
    margin-top: 2rem;
    width: 20%;
}
#section-1 .card-item1 h2{
    margin-top: 2rem;
    color: black;
}
#section-1 .card-item1 p{
    margin-top: 3rem;
    color: black;
}
 #section-1 .card-item2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #658db5;
} 


/* #section-1 .cards-container .card-item3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #658db5;
    height: 10rem;
    width: 10rem;
} 
#section-1 .cards-container .card-item4{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #1b2938;
}  */



/* omar sec */


/* dania footer */